<!DOCTYPE html>
<html lang="en">
<body>
        <!-- Title -->
        <div class="homepage">
            <p><%= title %> Page</p>
        </div>
        <!-- Photo -->
        <div class="homephoto">
            <img src="/content/images/me.jpg" height="350px" width="450px" alt="Me.jpg">
        </div>
        <br>
        <!-- Content -->
        <div class="homeintro">
            Hello, I'm Alan, a software engineering student at Centennial College. 
            I aim to be a Web developer, and this is my first Node.js project. 
            More info about me is on the top navigation bar or use the link below.
        </div>
        <br>
        <div class="pagelist">
            <ul>
                <li><a class="nav-link <%= (page == 'about') ? 'active' : ''; %>" aria-current="page" href="/about">About Me</a></li>
                <li><a class="nav-link <%= (page == 'projects') ? 'active' : ''; %>" aria-current="page" href="/projects">My Projects</a></li>
                <li><a class="nav-link <%= (page == 'services') ? 'active' : ''; %>" aria-current="page" href="/services">My services</a></li>
                <li><a class="nav-link <%= (page == 'contact') ? 'active' : ''; %>" aria-current="page" href="/contact">Contact Me</a></li>
            </ul>
        </div>
</body>
</html>